# Dependencies
node_modules/

# Build artifacts
dnd-client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDE and editor directories
.idea/
.vscode/